<%if params[:nombre] != nil%>
  <%if params[:nombre].length > 0%>
    <h1>Hola <%=params[:nombre]%>!</h1>
  <%else%>
      <h1>Hola desconocido!</h1>
  <%end%>
<%else%>
  <h1>Hola desconocido!</h1>
<%end%>
